* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.contacts-bar {
  width: 100%;
  height: 50px;
  background: #21333e;
  color: #c0c3d0;
  font-size: 13.6px;
}

.contacts-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.contacts-l,
.contacts-r {
  display: flex;
  align-items: center;
}

.hours i,
.phone i,
.mail i {
  margin-right: 8px;
}

.mail {
  margin-left: 30px;
}

.contacts-bar a {
  color: #c0c3d0;
}

.social a {
  margin-left: 30px;
}

.jumbotron {
  height: 860px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/jumbo.jpg");
  background-size: 100%;
  background-position: center;
}

.jumbotron-container {
  width: 80%;
  height: 100%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.nex {
  color: #00a6a6;
}

.gen {
  color: #c0c3d0;
}

.links-list {
  display: flex;
  align-items: center;
}

.links-list li {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 40px;
}

.links-list a {
  color: white;
}

.main-button {
  font-family: "Montserrat", sans-serif;
  height: 46px;
  background: #058283;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 3px;
}

.transparent-button {
  font-family: "Montserrat", sans-serif;
  height: 46px;
  border: 1px solid #058283;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 3px;
}

.jumbo-text {
  margin-top: 12%;
  margin-left: 55%;
  color: white;
  width: 35%;
}

.jumbo-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
}

.jumbo-text h3 {
  font-size: 24px;
  font-weight: 400;
  color: #c0c3d0;
  margin: 35px 0px;
}

.jumbo-text .transparent-button {
  margin-left: 25px;
}

.business {
  height: 725px;
  background: #eef4ed;
}

.business-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-text {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
}

.business-text h3 {
  color: #00a6a6;
  font-size: 0.85rem;
  font-weight: 700;
}

.business-text h2 {
  color: #21333e;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 800;
  margin-top: 40px;
}

.business-text p {
  color: #606d75;
  font-size: 16px;
  line-height: 1.5;
  margin: 30px 0px;
}

.business-text button {
  width: 50%;
}

.badge {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #00a6a6;
  background-color: rgba(5, 130, 131, 0.15);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  cursor: pointer;
}

.business-text .badge {
  margin-right: 20px;
}

.business-badges {
  margin-bottom: 30px;
}

.business-cards {
  display: flex;
  margin-left: 50px;
}

.business-cards > div:nth-child(2) {
  margin-left: 30px;
}

.card {
  background: white;
  width: 360px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  cursor: pointer;
}

.card h3 {
  margin-left: 60px;
  font-size: 24px;
  color: #21333e;
}

.card img {
  width: 240px;
  height: 165px;
  align-self: center;
  margin-top: 20px;
}

.card p {
  width: 240px;
  align-self: center;
  font-size: 16px;
  color: #606d75;
  margin-bottom: 30px;
}

.network {
  display: flex;
  height: 1030px;
}

.company {
  flex: 1;
  background: #111117;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-text,
.company-percentage {
  width: 475px;
  margin-left: 40%;
}

.company-text h4 {
  color: #00a6a6;
  font-size: 0.85rem;
  font-weight: 700;
}

.company-text h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 800;
  margin-top: 30px;
}

.company-text p {
  font-size: 16px;
  color: #c0c3d0;
  margin-top: 30px;
}

.company-percentage {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.percentage {
  display: flex;
  margin: 40px 0px;
}

.percentage-dot {
  border-radius: 50%;
  border: 10px solid #252c2f;
  height: 110px;
  min-height: 110px;
  width: 110px;
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percentage-dot p {
  font-size: 32px;
  color: #c0c3d0;
  font-weight: 700;
}

.percentage-dot span {
  font-size: 16px;
}

.percentage-text {
  margin-left: 20px;
}

.percentage-text h3 {
  font-size: 24px;
  color: #f9f9f9;
  margin-bottom: 30px;
}

.percentage-text p {
  font-size: 16px;
  color: #c0c3d0;
}

.photo {
  flex: 1;
  background-image: url("../img/about-5.jpg");
  background-size: cover;
}

.technologies {
  height: 285px;
  background: #eef4ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies img {
  height: 25px;
  margin: 0px 55px;
  filter: sepia(100%);
  cursor: pointer;
}

.editorial {
  height: 825px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editorial h4 {
  color: #00a6a6;
  font-size: 0.85rem;
  font-weight: 700;
}

.editorial h2 {
  color: #21333e;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 800;
  margin: 20px 0px;
}

.editorial h2 span {
  color: #058283;
}

.editorial p {
  font-size: 16px;
  color: #606d75;
}

.editorial-top {
  display: flex;
  justify-content: space-between;
  min-width: 1140px;
}

.editorial-top button {
  align-self: flex-end;
}

.editorial-cards {
  display: flex;
  min-width: 1140px;
  justify-content: space-between;
  margin-top: 50px;
}

.photo-card {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.photo-card h3 {
  font-size: 24px;
  color: #f9f9f9;
  text-align: center;
  margin: 0px 30px 50px 30px;
}

.p1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/news-1.jpg");
  background-size: contain;
}

.p2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/news-2.jpg");
  background-size: contain;
}

.p3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/news-3.jpg");
  background-size: contain;
}

.newsletter {
  height: 455px;
  background-image: url("../img/bg-1.jpg");
  background-position: center;
}

.newsletter-container {
  width: 55%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.newsletter-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-text h4 {
  color: #00a6a6;
  font-size: 0.85rem;
  font-weight: 700;
}

.newsletter-text h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin: 20px 0px;
}

.newsletter p {
  font-size: 16px;
  color: #c0c3d0;
}

.newsletter-input {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.newsletter-input input {
  font-family: "Montserrat", sans-serif;
  width: 435px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #252c2f;
  background-color: rgba(255, 255, 255, 0.267);
  margin-bottom: 20px;
  padding-left: 20px;
}

.newsletter-input button {
  width: 150px;
}

.message {
  height: 845px;
  background: #eef4ed;
}

.message-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message h4 {
  color: #00a6a6;
  font-size: 0.85rem;
  font-weight: 700;
}

.message h2 {
  color: #21333e;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 800;
  margin: 30px 0px 20px 0px;
}

.message h2 span {
  color: #058283;
}

.message p {
  font-size: 16px;
  color: #606d75;
}

form {
  margin-top: 50px;
}

form input {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border: none;
  color: #252c2f;
  background-color: rgba(0, 0, 0, 0.116);
  height: 50px;
  width: 350px;
  margin: 0px 15px 15px 0px;
  padding: 20px;
}

form select {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border: none;
  color: #606d75;
  background-color: rgba(0, 0, 0, 0.116);
  height: 50px;
  width: 350px;
  padding-left: 15px;
}

form textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border: none;
  color: #252c2f;
  background-color: rgba(0, 0, 0, 0.116);
  height: 150px;
  width: 720px;
  padding: 20px;
  resize: none;
}

form button {
  margin-top: 30px;
}

.message-contacts {
  align-self: flex-start;
  margin: 147px 0px 0px 50px;
}

.contacts-text {
  width: 350px;
}

.contacts-text h3 {
  font-size: 24px;
  color: #21333e;
  margin-bottom: 25px;
}

.contacts-text p {
  font-size: 16px;
  color: #606d75;
  margin-bottom: 20px;
}

.contacts-icons {
  width: 350px;
}

.contacts-icons p {
  font-size: 19.2px;
  color: #058283;
  margin-bottom: 20px;
}

.contacts-icons i {
  margin-right: 10px;
  background-color: #05828326;
  border-radius: 50%;
  padding: 15px;
}

.message-contacts button {
  color: #058283;
}

footer {
  height: 675px;
  color: #c0c3d0;
}

.index {
  height: 615px;
  background-image: url("../img/bg-10.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-contacts {
  width: 240px;
  height: 330px;
}

.index-contacts .logo {
  margin-bottom: 40px;
}

.index-contacts p {
  margin-bottom: 20px;
}
.index-contacts > p:nth-child(2) {
  margin-bottom: 40px;
}

.index-contacts i {
  margin-right: 10px;
}

.index-contacts button {
  margin-top: 20px;
}

.index-col {
  width: 260px;
  height: 330px;
  background: #ffffff09;
  border-radius: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-col h3 {
  font-size: 24px;
  align-self: flex-start;
  margin: 0px 0px 30px 60px;
}

.index-col i {
  margin-right: 10px;
}

.index-col li {
  margin-bottom: 10px;
}

.copyright {
  height: 60px;
  background: #0d0d11;
}

.copyright-container {
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.copyright-container p {
  margin-bottom: 5px;
}

.copyright-container span {
  color: #058283;
}

.scroll-top i {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: #00a6a6;
  background-color: #f1f1f177;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
